body{
    background-image: url(coffee5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: brown;
    font-style: oblique;
    text-align: center;
}
h1:hover{
    color: burlywood;
    cursor: pointer;
}
.icon img{
    height: 40px;
    width: 40px;
    background-size: 20px 20px;
    padding-left: 15px;
    
}
.content-section{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

p, section{
    line-height: 60px;
    width: 600px;
    height: 400px;
    font-size: 200%;
    justify-content: center;
    padding-left: 200px;
    color: white;
    margin: 260px;
    
    

}
.img img{
    width: 700px;
    height: 500px;
    margin-top: 50px;
    padding: 50px;
    display: flex;
    float: left;
    
    
    
}